.icontainer{
    display: flex;
    flex-direction: column;
}
#fol_dan_icons{
    display: flex;
    flex-direction: row;
}.fol_dan_icon{
    position: relative;
    object-fit: cover;
    background-color:#ffffff;
    height:64px;
    width:64px;
    padding:0px;
    overflow: hidden;
    border:none;
    margin: 12px;
    border-radius: 12px;
}.dan_icon_text{
    overflow: hidden;
    max-width: 64px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 12px;
    font-size: 0.8em;
    color: #999999;
    text-align: center;
}.dan_icon_img{
    position: relative;
    top: 0px;
}.active .dan_icon_img{
    position: relative;
    top: -6px;
    left: -6px;
}
#fol_dan_all{
    width: 64px;
    height: 64px;
    padding: 0px;
    border: solid 1px;
    margin: 12px;
    border-radius: 12px;
}

.foldan_btn.active{
    /* important ごりおしわらう */
    border: solid 6px #c68400 !important ;
}