#dungeon_main_indetail{
    top: 48px;
    height: calc(100vh - 48px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    text-align: left;
}
#dungeon_image_indetail{
    position: relative;
    width: 100%;
    background-image: url(../images/samples/habitfrom_photoac_22007903_s.jpg);
    background-size: cover;
}#dungeon_image_indetail::before {
    display: block;
    content: " ";
    padding-top: 56.25%;
}
#dungeon_txt_indetail{
    padding-left: 16px;
}#dungeon_userinfo_indetail{
    padding-left: 16px;
    margin: 16px 0px;
}#dungeon_work_indetail{
    padding-left: 16px;
    margin-bottom: 16px;
}
#dungeon_name_indetail{
    font-weight: bold;
    font-size: 2em;
    margin: 16px 0px 0px 0px;
}#dungeon_exp_indetail{
    margin: 0px;
}

#dungeon_userimg_indetail{
    position: absolute;
}#dungeon_username_indetail{
    position: relative;
    left: 64px;
    margin: 0px;
    font-size: 1.2em;
    font-weight: bold;
}#dungeon_userexp_indetail{
    position: relative;
    left: 64px;
    margin: 0px;
    font-size: 0.8em;
    color: #777777;
}


#dungeon_detail_div{
    position: absolute;
    height: 100%;
    text-align: center;
    z-index: 5;
    top: 0px;
    background-color: #ffffff;
}
@media screen and (min-width:600px){
    #dungeon_detail_div{
        left: 120px;
        width: calc(100% - 500px);
        min-width: 480px;
    }
}@media screen and (max-width:599px){
    #dungeon_detail_div{
        width: 100%;
        left: 0px;
    }
}