/*color
gray main dark light
757575
494949
a4a4a4

yellow
ffb300
c68400
ffe54c

from
https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=757575&secondary.color=FFB300
*/

#bottom_app_bar{
    z-index: 3;
    background-color: #ffffff;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    padding: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}.mdc-tab__content{
    flex-direction: column;
}.mdc-tab:not(.mdc-tab--stacked) .mdc-tab__icon+.mdc-tab__text-label{
    padding: 0px;
}.mdc-tab{
    height: 50px;
}.mdc-tab-indicator.onfooter{
    display: none !important;
}.mdc-tab--active .mdc-tab__icon{
    color: #c68400 !important;
}.mdc-tab__text-label{
    font-size: 0.5em
}.mdc-tab__icon{
    color: #a4a4a4 !important;
}

html{
    height: 100%;
    width: 100%;
    /*safari ios のバウンス？を止めるための施し*/
    overflow: hidden;
}body{
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ffffff;
    /*overflow: hidden; safari ios バウンス対策でauto にするが、そもそもhidden にしていた深い理由が不明なため要注意*/
    /*変えたあと試したけど、結局変化ないんすけどだいじょぶっすかねぇ*/
    overflow: auto;
}:root{
    --mdc-theme-primary: #757575;
    --mdc-theme-secondary: #ffb300;
    --mdc-theme-on-primary: #ffffff;
}
#top_header{
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}


@media screen and (min-width:600px){
    .top_level_page{
        height: calc(100vh - 64px);
    }#bottom_app_bar{
        display: none;
    }#login_icon{
        display: none !important;
    }#nav_pc{
        display: flex;
        position: fixed;
        padding-left: 60px;
        flex-direction: column;
        top: 20px;
    }#main_area{
        left: 120px;
        position: relative;
        width: 500px;
    }#top_header{
        width: 500px;
        position: relative;
        left: 120px;
        box-shadow: none;
    }
}@media screen and (max-width:599px){
    .top_level_page{
        height: calc(100vh - 106px);
    }#bottom_app_bar{
        display: block;
    }#nav_pc{
        display: none;
    }
}.top_level_page{
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    overflow-y: scroll;
    /* スクロールを滑らかにする */
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}.top_level_page::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}


/* world card */
.diary-card{
    border: solid 1px #eeeeee;
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
}.header_erea{
    height: 48px;
    width: 100%;
    position: relative;
}.who_icon{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
}.whos_diary{
    margin: 0px;
    position: absolute;
    top: 8px;
    left: 48px;
    font-size: 16px;
    font-weight: 600;
}.what_time{
    margin: 0px;
    position: absolute;
    top: 28px;
    left: 48px;
    font-size: 10px;
    color: #777777;
}.content_erea{
    width: 100%;
    position: relative;
    text-align: left;
    /*padding: 0px 8px 8px 48px;*/
}.content_diary{
    font-size: 16px;
    margin: 0px 8px 8px 48px;
}.footer_area {
    width: 100%;
    position: relative;
    text-align: right;
    height: 48px;
}.good_diary{
    color: #777777;
}

#world_thread{
    width: 100%;
}#danjon_thread{
    width: 100%;
}

.side_nav{
    color: #a4a4a4;
}.side_nav.active{
    color: #ffb300;
}

.danjon-card{
    margin:10px;
    flex-direction: column;
    display: flex;
    position: relative;
    height: fit-content;
    /*width: 100%;*/
    box-sizing: border-box;
}.danjon_head{
    height: 48px;
    width: 100%;
    position: relative;
}.danjon_goal{
    position: absolute;
    top: 8px;
    left: 8px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}.danjon_num{
    position: absolute;
    top: 28px;
    left: 8px;
    margin: 0px;
    font-size: 10px;
    color: #777777;
}.erea_danjon{
    width: 100%;
    position: relative;
    text-align: left;
    /*padding: 0px 8px 8px 48px;*/
}.content_danjon{
    font-size: 16px;
    margin: 0px 8px 10px 8px;
}

.tag-button{
    margin: 8px;
    border-radius: 18px;
    padding: 18px;
}.tag-button.active{
    background-color: #494949;  
}.tag-button.active > .tag_content{
    color: #ffffff;
}.tag-button.disactive{
    background-color: #dddddd;  
}.tag-button.disactive > .tag_content{
    color: #000000;
}